.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  .navbar span {
    padding: 10px;
    color: gray;
  }
  .navbar a {
    text-decoration: none; 
  }
  .navbar a:visited {
    color: gray;
  }
  .navbar a:hover {
    color: green;
  }
  .navbar span:hover {
    color: green;
    cursor: pointer;    
  }