<div class="container">
    <main class="content">
        <ng-content>
            <span class="name">MY DEO</span><br />
            <span class="slogan">I PROFUMI CHE ARREDANO, LA LINEA COMPLETA DI PROFUMATORI PER OGNI ESIGENZA</span>
            <p>
                <span class="text">
                    Con MyDEO, profumi il tuo mondo con gli aromi più raffinati.  MyDeo è un brand giovane e dinamico creato da un team di giovani e famosi Designer Italiani. che hanno creato questa linea di profumatori Liquid-Free per essere un elemento di arredo, con profumazioni straordinarie e sicure per bambini, animali e ambienti.
                </span>
            </p>
            <br /> 
            <span class="name">PER LA TUA CASA</span><br />  
            <div class="cardContainer">
                <p-card [style]="{ width: '20rem', overflow: 'hidden', display: 'inline-block' }">
                    <ng-template #header>
                        
                    </ng-template>
                    <ng-template #title> REVERSO </ng-template>
                    <ng-template #subtitle> Profumo & Design Per La Tua Casa </ng-template>
                    <ng-template #footer>
                        <div class="flex gap-2 mt-1">
                            <img alt="Card" src="images/mydeo/reverso.jpg" width="250px" />        
                        </div>
                    </ng-template>
                </p-card>
                
                <p-card [style]="{ width: '20rem', overflow: 'hidden', display: 'inline-block' }">
                    <ng-template #header>
                        
                    </ng-template>
                    <ng-template #title> My DREAMS </ng-template>
                    <ng-template #subtitle> Aromaterapia Per Federe e Cuscini </ng-template>
                    <ng-template #footer>
                        <div class="flex gap-2 mt-1">
                            <img alt="Card" src="images/mydeo/mydreams.jpg" width="250px" />        
                        </div>
                    </ng-template>
                </p-card>

                <p-card [style]="{ width: '20rem', overflow: 'hidden', display: 'inline-block' }">
                    <ng-template #header>
                        
                    </ng-template>
                    <ng-template #title> My FLOWERS </ng-template>
                    <ng-template #subtitle> Il Fiore che profuma e colora </ng-template>
                    <ng-template #footer>
                        <div class="flex gap-2 mt-1">
                            <img alt="Card" src="images/mydeo/myflowers.jpg" width="250px" />        
                        </div>
                    </ng-template>
                </p-card>

                <p-card [style]="{ width: '20rem', overflow: 'hidden', display: 'inline-block' }">
                    <ng-template #header>
                        
                    </ng-template>
                    <ng-template #title> My BINS </ng-template>
                    <ng-template #subtitle> Per Profumare La Tua Pattumiera </ng-template>
                    <ng-template #footer>
                        <div class="flex gap-2 mt-1">
                            <img alt="Card" src="images/mydeo/mybins.jpg" width="250px" />        
                        </div>
                    </ng-template>
                </p-card>
            </div>
            <br />
            <span class="name">PER IL TUO GUARDAROBA</span><br />
            <div class="cardContainer">
                <p-card [style]="{ width: '20rem', overflow: 'hidden', display: 'inline-block' }">
                    <ng-template #header>
                        
                    </ng-template>
                    <ng-template #title> My BUTTONS </ng-template>
                    <ng-template #subtitle> Profumo & Colore Per Cassetti e Biancheria </ng-template>
                    <ng-template #footer>
                        <div class="flex gap-2 mt-1">
                            <img alt="Card" src="images/mydeo/mybuttons.jpg" width="250px" />        
                        </div>
                    </ng-template>
                </p-card>
                
                <p-card [style]="{ width: '20rem', overflow: 'hidden', display: 'inline-block' }">
                    <ng-template #header>
                        
                    </ng-template>
                    <ng-template #title> My SHOES </ng-template>
                    <ng-template #subtitle> Profumo & Colore Per La Tua Scarpiera </ng-template>
                    <ng-template #footer>
                        <div class="flex gap-2 mt-1">
                            <img alt="Card" src="images/mydeo/myshoes.jpg" width="250px" />        
                        </div>
                    </ng-template>
                </p-card>

                <p-card [style]="{ width: '20rem', overflow: 'hidden', display: 'inline-block' }">
                    <ng-template #header>
                        
                    </ng-template>
                    <ng-template #title> My CARDS </ng-template>
                    <ng-template #subtitle> Profumo & Freschezza Per I Tuoi Armadi </ng-template>
                    <ng-template #footer>
                        <div class="flex gap-2 mt-1">
                            <img alt="Card" src="images/mydeo/mycards.jpg" width="250px" />        
                        </div>
                    </ng-template>
                </p-card>

                <p-card [style]="{ width: '20rem', overflow: 'hidden', display: 'inline-block' }">
                    <ng-template #header>
                        
                    </ng-template>
                    <ng-template #title> My SPORTS </ng-template>
                    <ng-template #subtitle> Profumo & Freschezza Per I Tuoi Accessori Sport</ng-template>
                    <ng-template #footer>
                        <div class="flex gap-2 mt-1">
                            <img alt="Card" src="images/mydeo/mysports.jpg" width="250px" />        
                        </div>
                    </ng-template>
                </p-card>
            </div>

        </ng-content>
    </main>
</div>


