/* You can add global styles to this file, and also import other style files */
body { 
    margin: 0; 
    padding: 0; 
} 

.container {
    font-family: Arial, Helvetica, sans-serif;
    color: #626262;
    width: 100%;
    margin: 0;
} 

.footer {
    background-color: gray;
    color: white;
}

.content {
    margin-top: 20px;
    text-align: center;
}

.content .name {
    font-size: x-large;
    font-style: italic;
}

.content .slogan {
    font-size: large;
    font-style: italic;
    margin-bottom: 10px;
}

.content .text {
    font-size: medium;
    font-style: italic;
    margin-bottom: 10px;
}

.cardContainer {
    width: 100%;
    text-align: center;
    display: inline;
}

.p-card-body {
    --p-card-body-padding: 20px;
}

.productCard {
    width: '20rem'; 
    overflow: 'hidden'; 
    display: 'inline-block';
}

.p-card-title {
    width: "15rem";
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    --p-card-title-font-weight: bold;
}

.p-card-subtitle {
    width: 209px;
    margin: 0 auto;
    padding: 12px;
}

.imgCard {
    text-align: center;
}