.content {
    margin-top: 20px;
    text-align: center;
}

.content .name {
    font-size: x-large;
    font-style: italic;
}

.content .slogan {
    font-size: large;
    font-style: italic;
    margin-bottom: 10px;
}
